PORT=your-port

CORS_ORIGIN=your-origin

GOOGLE_APPLICATION_CREDENTIALS=path/to/serviceAccountKey.json

TWILLO_SID=your-sid
TWILLO_TOKEN=your-token
OTP_TTL_IN_SECS=3
OTP_MAX_ATTEMPTS=3

JWT_SECRET=your-secret
