@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-content: #181818;
  --color-base-200: #e0e0e0;
  --color-base-300: #c8c8c8;
  --color-primary: #0068f8;
  --color-primary-content: #ffffff;
  --color-secondary: #599cfa;
  --color-secondary-content: #0f172a;

  --radius-box: 1.25rem;
  --radius-field: 1rem;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #181818;
  --color-base-content: #e8e8e8;
  --color-base-200: #2a2a2a;
  --color-base-300: #383838;

  --color-primary: #7fb3fb;
  --color-primary-content: #0b1221;
  --color-secondary: #a5cafc;
  --color-secondary-content: #0b1221;

  --radius-box: 1.25rem;
  --radius-field: 1rem;
}

@layer base {
  body {
    @apply bg-base-100 text-base-content;
    margin: 0;
  }
}
